prune *.egg-info

include requirements.txt

include emoji_connoisseur/data/avatar.png
include emoji_connoisseur/data/memes.example.py
include emoji_connoisseur/data/config.example.py
include emoji_connoisseur/data/schema.sql
include emoji_connoisseur/data/short-license.txt
include emoji_connoisseur/locale/*



