aiofiles
asyncpg
beautifulsoup4
ben_cogs
git+https://github.com/Rapptz/discord.py@rewrite#egg=discord.py
github3.py
jishaku>0.1.1
lru-dict
lxml
prettytable
wand
wrapt

# for the backend creator only
pgi
selenium
