body {
	font-family: sans-serif;}

.center, th {
	text-align: center;}
table {
	border-spacing: 0;
	border-collapse: collapse;}
img { /* TODO use media queries or relative units for this */
	max-height: 32px;
	max-width: 32px;}
// span.data {
	padding: .2em;
	border-radius: 3px; /* TODO use relative units for this */
	font-family: monospace;}
td, th {
	border: solid 2px;
	padding: .2em .5em;}

footer {
	margin-top: 3vh;
	text-transform: italic;}
