body {
	font-family: sans-serif;}
.center, th {
	text-align: center;}
table {
	border-spacing: 0;
	border-collapse: collapse;}
.emote {
	max-height: 32px;
	max-width: 32px;}
span.data {
	padding: .2em;
	border-radius: 3px;
	font-family: monospace;}
td, th {
	border: solid 2px;
	padding: .2em .5em;}
