(conf) {
	root static/
	proxy /list localhost:8080 {
		# X-Forwarded-From is the hostname the user visited
		# e.g. foo.com or bar.onion
		header_upstream X-Forwarded-From {host}
	}
	proxy /api  localhost:8081
}

localhost:2018 ec.localhost:2018 127.0.01:2018 [0:0:0:0:0:0:0:1]:2018 {
	import conf
	tls off
}

# allow ngrok for dev
*.ngrok.io:443 *.ngrok.io:80 {
	import conf
	tls off
}
